* {
    padding: 0;
    margin: 0;
}

.cover-content{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 6rem 2rem 2rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.project-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    color: #0050fd;
}

.weather-wizard {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 4rem;
    line-height: 85%;
    letter-spacing: -0.03em;
    z-index: 100;
    text-align: center;
    width: fit-content;
}

.project-content img{
    position: relative;
    width: 16rem;
    object-fit: contain;
    overflow: visible;
    z-index: 99;
    margin-right: 0rem;
    margin-top: 2rem;
}

.project-nav{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    top: -4rem;
    z-index: 101;
    padding-top: 4rem;
}

.project-nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    width: 100%;
}

.project-nav ul li{
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: solid #FDC500 1px;
    background: linear-gradient(260deg, #FDC500 -42%, #FD8900 75%);
    border-radius: 1.5rem;
    font-style: normal;
    font-weight: 700;
    color: white;
    width: 100%;
}

.project-nav ul li a {
    font-size: 1.75rem;
    width: 100%;
}

@media (min-width: 580px) {
    .project-content{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: fit-content;
        color: #0050fd;
    }
    .weather-wizard {
        font-size: 4.5rem;
        text-align: right;
        width: 20rem;
    }
    .project-content img{
        width: 12rem;
        margin-top: 0rem;
    }
    .project-nav{
        width: 100%;
        padding-top: 6rem;
    }
    .project-nav ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0 2rem;
    }
    .project-nav ul li a{
        font-size: 2.25rem;
    }
}

@media (min-width: 970px) {
    
    .cover-content{
        padding: 8rem 2rem 4rem 2rem;
    }

    .weather-wizard {
        font-size: 6.5rem;
        text-align: right;
        width: 28rem;
    }
    .project-content img{
        width: 18rem;
    }

    .project-nav{
        width: 100%;
        padding-top: 3rem;
        flex-direction: row;
    }
    .project-nav ul{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 0 2rem;
        gap: 1.5rem;
    }

    .project-nav ul li{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0.5rem 2rem;
        width: fit-content;
    }

    .project-nav ul li a{
        font-size: 2.25rem;
    }
}

@media (min-width: 1024px) {

    .weather-wizard {
        font-size: 8.5rem;
        text-align: right;
        width: 36rem;
    }
    .project-content img{
        width: 24rem;
    }

    .project-nav{
        width: 100%;
        padding-top: 3rem;
        flex-direction: row;
    }
    .project-nav ul{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 0 2rem;
        gap: 1.5rem;
    }

    .project-nav ul li{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0.5rem 2rem;
        width: fit-content;
    }

    .project-nav ul li a{
        font-size: 3rem;
    }
}
