#chart .apexcharts-tooltip:hover {
	opacity: 0.5 !important;
}

#chart .apexcharts-tooltip.apexcharts-theme-light {
	background: none !important;
}

#chart .apexcharts-tooltip.apexcharts-theme-light:hover {
	background: none !important;
}

.apexcharts-svg {
    overflow: visible;
}

/* .apex-charts-legend {

}

.apexcharts-align-center {

} */

.apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
    justify-content: flex-start !important;
}
