.ML-team{
    font-size: smaller;
    border-radius: 1rem;
    background-color: #fce7f3;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: #db2777;
    font-weight: bold;
}


.React-team{
    font-size: smaller;
    border-radius: 1rem;
    background-color:#e0f2fe;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: #0284c7;
    font-weight: bold;
}

.Team-lead{
    font-size: smaller;
    border-radius: 1rem;
    background-color: #d1fae5;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: #059669;
    font-weight: bold;
}

.API-team{
    font-size: smaller;
    border-radius: 1rem;
    background-color: #f3e8ff;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: #9333ea;
    font-weight: bold;

}
